{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ukit</title>
</head>
<body>
<div id="root"></div>
</body>
<script src="{% static 'frontend/main.js' %}"></script>
</html>